<div class="container text-center">
  <h1>Our team</h1>
  <ul class="list-inline text-center">
    <% ["anne", "seb", "romain"].each do |member| %>
      <li>
        <h3><%= member.capitalize %></h3>
        <%= image_tag "#{member}.jpg", class: "img-circle avatar-xlarge" %>
      </li>
    <% end %>
  </ul>
</div>

